@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Styles {
    <link href="@Url.Content("~/css/signin.css")" rel="stylesheet" type="text/css" />
}
@using Microsoft.AspNetCore.Http;

<div class="sign-in-container w-100 h-100 d-flex justify-content-center align-items-center">
<div class="d-flex flex-column justify-content-center align-items-center sign-in-form-container">   
<h1>SignUp</h1>
<div class="seperator"></div>
@if (@Context.Session.GetString("userId") != null)
{
    <h1> Logged in as @Context.Session.GetString("userId")</h1>
}
<form action="/UserAuth/CreateUser" method="post" class="d-flex flex-column justify-content-center  align-items-center sign-in-form ">
    <div class="form-group w-100">
    <label for="email">Email;</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required aria-describedby="emailError" />
    <h3 id="emailError" class="form-text error-message">@ViewBag.errorMessage</h3>
    </div>
    <div class="form-group w-100">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required />
    </div>
    <div class="form-group w-100">
    <label for="phone_number">Phone Number:</label>
            <input type="tel" pattern="^[0-9]{8}$" maxlength="8" name="phone_number" class="form-control" placeholder="Phone Number" required />
    </div>

    <input class="btn btn-primary sign-in-button" id="Submit" type="submit" value="Submit" />
            <small>
                Already have an account?
                <a class="sign-up-link" asp-area="" asp-controller="UserAuth" asp-action="SignIn">Sign in now</a>
            </small>
</form>
</div>
</div>