.catalogue-container {
    margin: 50px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.carte {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: burlywood;
    width: 300px;
    height: 480px;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 2px;
    box-shadow: 0 4px 10px hsl(0deg 0% 42% / 19%);
}

    .carte:hover {
        cursor: pointer;
        transform: scale(1.02);
        background-color: #f9d0a2;
        box-shadow: 0 2px 2px hsl(0deg 0% 42% / 14%);
    }

.carte img {
    width:100%;
    height: 300px;
    object-fit: cover;
    background-position:center center;
}

.carte-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info {
    font-size: 15px;
    margin: 15px;
}

.info .animal-name {
    font-size: 2rem;
    letter-spacing: -.15px;
    line-height: 2.438rem;
    color: #ef8202;
    font-family: cursive;
}

.animal-breed {
    font-size: 1.25rem;
    letter-spacing: -.15px;
    line-height: 2rem;
    margin-bottom: 1.25rem;
    max-width: 30ch;

}

.animal-adress {
    font-size: 0.9rem;
    letter-spacing: -.14px;
    line-height: 1.625rem;
    padding :15px;
    margin-top :-15px;
}

.view-more {
     buttom : 0px;
     border-radius:0%;
}

.carte-animal {

    display:flex;
    width:100%;
    justify-content: space-around;
    align-items:center;

}

.carte-animal-text {
    display: flex;
    flex-direction: column;
    padding :20px;
}
.carte-animal-text1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 20px 0px;
}
.box {
    display:flex;
    flex-direction:column;
    margin : 20px;
}
.carte-animal-img{
    width : 50%;
    object-fit:cover;
    margin-right:0;
}
.animal-icon {
    width:20px;
    height:20px;
    object-fit:cover;
    margin-right:10px;

}
.carte-animal-text2{

}

.animal-name {
    font-size: 58px;
    font-family: "Amatic SC",cursive;
    font-weight: bold;
    line-height: 1.2;
    color: #eb651c;
    text-align: left;
    margin : 20px;

}
.animal-info-key {
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.69;
    letter-spacing: 1.95px;
    text-transform: uppercase;
    color: #222;
    color: #eb651c;
    margin-bottom: 10px;
}
.animal-info-value {
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.69;
    letter-spacing: 1.95px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #fad8c3;
    border-radius: 5px;
    padding: 8px 15px;

}
.animal-description p {
    font-family: "Amatic SC",cursive;
}

.adopt-me {
    background-color: #eb651c;
    color: white;
    width: 80% font-family: "Amatic SC",cursive;
    border: white solid 1px;
    border-radius: 10px;
    height: 50px;
    text-decoration: none;
}

    .adopt-me:hover {
        
        cursor: pointer;
        transform: scale(1.05);
        text-decoration: none;
    }
  