/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*,*::before,*::after  {
    box-sizing:border-box;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a, a:hover, a:active, a:visited{
  text-decoration:none;
}
.navbar {
    background: #EF8202;
    margin:0 !important;
}
.navbar-collapse ul {
    justify-content: flex-end;
    gap:20px;
}
.link {
    position: relative;
    text-decoration:none;
    color:white;
    font-size: 1.2em;
}
.link:hover{
    transform: scale(1.1);
    color:white;
}
.link::before {
    content:'';
    height:2px;
    background-color:white;
    position:absolute;
    top:100%;
    width:0;
    color:white;
    font-weight:bold;
    transition: 200ms ease-in-out
}
.link:hover.link::before {
    width:100%;
}
.nav-item a {
    display:block;
}
.btn-primary {
    color: white;
    background-color: #EF8202;
    border-radius: 5px;
    border-color: white;
    padding:10px;
    border-width:3px;
}
.btn-primary:hover {
    transform: scale(1.1);
    background-color: white;
    color: #EF8202;
    border-color:white;
    transition:200ms ease-in-out;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  margin:0;
  padding:0;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: antiquewhite;
  height: 100vh;
  padding:0;
  margin:0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    height:calc(100% - 100px);
}

.app-container {
    width: 100%;
    height: calc(100% - 100px);
}
.profile-container {
    position: relative;
}
.nav-item .profile-container .profile-dropdown{
    position:absolute;
    display: flex;
    flex-direction: column;
    transition: transform 200ms;
    transform:scaleY(0);
    transform-origin:top;
    gap:0;
    list-style-type:none;
    width: 200px;
}
.nav-item .profile-container .profile-dropdown.open {
    transform: scaleY(1);
}
.profile-dropdown li {
    display: block;
    background: white;
    color: #EF8202;
    padding:10px;
    text-decoration:none;
}
.profile-dropdown li a {
    color:inherit;
}
.profile-dropdown li:hover {
    background: #EF8202;
    color: white;
}
.delete-user-modal {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
.delete-user-modal.open{
    display:flex;
    justify-content:center;
    align-items:center;
}
.delete-user-modal .modal-operations {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}
.delete-user-modal a {
    display:block;
    color: inherit;
}
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding: 24px;
    background: #EF8202;
    width:50%;
    flex-grow:0;
    border-radius:20px;
}
