@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

* {
   
    
}

body {
    align-items: center;
    background-color: antiquewhite;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 100vh;
    justify-items: center;
}

.signup-container {
    display: grid;
    grid-template-areas: "left right";
    max-width: 900px;
}

.left-container {
    background: #EE933E;
    overflow: hidden;
    padding: 40px 0 0 0;
    position: relative;
    text-align: center;
    width: 300px;
}

    .left-container h1 {
        color: rgba(0, 0, 0, 0.8);
        display: inline-block;
        font-size: 24px;
    }

       

    .left-container .puppy {
        bottom: -5px;
        position: absolute;
        text-align: center;
    }

        .left-container .puppy:before {
           
            content: "";
            height: 100%;
            left: 0;
            opacity: 0.4;
            position: absolute;
            width: 100%;
            z-index: 1;
        }

    .left-container img {
        filter: sepia(100%);
        width: 70%;
        height:50%;
    }

.right-container {
    background-color: #F7C78E;
    display: grid;
    grid-template-areas: "." ".";
    width: 500px;
}

    .right-container h1:nth-of-type(1) {
        color: rgba(0, 0, 0, 0.8);
        font-size: 28px;
        font-weight: 600;
    }

    .right-container .set {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .right-container input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        height: 38px;
        line-height: 38px;
        padding-left: 5px;
       
    }

    .right-container input,
    .right-container label {
        color: rgba(0, 0, 0, 0.8);
        width: 176px;
    }

    .right-container header {
        padding: 40px;
    }

 

    .right-container .pets-weight .radio-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .right-container footer {
        align-items: center;
        background: #F9D0A2;
        display: grid;
        padding: 5px 40px;
    }
    .right-container div input {
        margin-right:10 px;
        margin-left:10 px;
        width: 100%;
        
    }

        .right-container footer input {
            border: 1px solid rgba(0, 0, 0, 0.2);
            height: 38px;
            line-height: 38px;
            width: 100px;
            border-radius: 19px;
            font-family: "Montserrat", sans-serif;
            font-weight:500;
          
        }
        .right-container footer button{
            border: 1px solid rgba(0, 0, 0, 0.2);
            height: 38px;
            line-height: 38px;
            width: 100px;
            border-radius: 19px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
        }

        .right-container footer #back {
            background: #fff;
            transition: 0.2s all ease-in-out;
        }

            .right-container footer #back:hover {
                background: #171a2b;
                color: white;
            }

        .right-container footer #next {
            background: #EF8202;
            border: 1px solid transparent;
            color: #fff;
        }

            .right-container footer #next:hover {
                background: #171a2b;
            }

 label {
    display: block;
    margin-bottom: 5px;
}
.radio-container input[type=radio] {
    display: none;
}

    .radio-container input[type=radio]:checked + label {
        background: #FAD9B4;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

.radio-container {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
}
.radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.2s all ease-in-out;
    width: 80px;
}
.app-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 100px);
}



  
